.form {
  padding: 50px 100px;
  border: 1px solid #000;
  border-radius: 2px;
}

.label {
  margin-bottom: 20px;
  width: 200px;
}

.button {
  background-color: none;
}
input {
  margin: 0 0 20px 20px;
}
