ul {
  padding: 0;
}

li {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 18px;
  font-weight: 500;
  line-height: 0.5;
}

button {
  width: 100px;
  height: 30px;
  padding: 5px;
}
.nameText {
  display: inline-block;
  margin-right: 20px;
}